/* GENERAL */
html, body{
    background-color: #1f1a17;
    border: 0;
    color: #FFF;
    font-size: 24px;
    margin: 0;
    padding: 0;
}
html, body, input, select, button{
    font-family: Arial, Helvetica, sans-serif;
}
*, *::after, *::before{
    box-sizing: border-box;
    outline: none;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.2rem;
}
h3{
    font-size: 1rem;
}
label{
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
}
input{
    background: #FFF;
    border: 2px solid transparent;
    color: #000;
    display: block;
    font-size: 1rem;
    height: 2.6rem;
    margin-bottom: 0.85rem;
    padding: 5px 1rem;
    width: 100%;
    border-radius: 5px;
    transition: border 0.2s ease-in-out;
}
input.hover,
input:hover,
input:focus,
input:active {
    border-color: #F37521;
    outline: none;
}

button{
    background: #000;
    border: 0;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    height: 3.12rem;
    text-transform: uppercase;
    transition: background 0.2s ease-in-out;
    padding: 0 0.83rem;
    width: 100%;
}
button.hover,
button:hover,
button:focus,
button:active {
    background: #F37521;
}

.select {
    background: #FFF;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    height: 2.6rem;
    margin-bottom: 0.85rem;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
    transition: border 0.2s ease-in-out;
}
.select:after {
    background: transparent url(../icons/arrow-down.svg) no-repeat;
    background-size: 100% auto;
    content: '';
    display: block;
    height: 0.83rem;
    margin-top: -0.41rem;
    position: absolute;
    right: 1rem;
    top: 50%;
    width: 0.83rem;
    z-index: 12;
}
.select select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border: 0 !important;
    border-radius: 0;
    cursor: pointer;
    color: #000;
    font-size: 1rem;
    height: 100%;
    margin: 0 auto;
    outline: none;
    padding: 5px 2.70rem 5px 1rem;
    position: relative;
    text-indent: 0px;
    text-overflow: "";
    vertical-align: middle;
    width: 100%;
    z-index: 5;
}
.select select:focus {
    outline: none;
}
.select select::-ms-expand {
    display: none;
}
.select.hover,
.select:hover,
.select:focus,
.select:active{
    border-color: #F37521;
    outline: none;
}
.select:focus-within{
    border-color: #F37521;
    outline: none;
}

input[type=range]{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    cursor: pointer;
    height: 8.4px;
    margin: 0;
    padding: 0;
    width: 100%;
}
input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 1.3px;
    cursor: pointer;
    width: 100%;
}
input[type=range]::-moz-range-track {
    border: 1px solid transparent;
    background: transparent;
    border-radius: 1.3px;
    cursor: pointer;
    height: 8.4px;
    width: 100%;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
}
input[type=range]:focus::-moz-range-track {
    outline: none;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #FFF;
    border-radius: 16px;
    cursor: pointer;
    height: 16px;
    margin-left: -1px;
    width: 16px;
}
input[type=range]::-moz-range-thumb {
    background: #FFF;
    border: 1px solid #FFF;
    border-radius: 100%;
    cursor: pointer;
    height: 14px;
    margin-top: 5px;
    width: 14px;
}

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    width: 100%;
    height: 8.4px;
    pointer-events: none;
}
progress::-webkit-progress-bar {
    background: #c25d1b;
    border-radius: 5px;
}
progress::-webkit-progress-value {
    background: #FFF;
    border-radius: 5px 0 0 5px;
}
progress::-moz-progress-bar {
    background: #FFF;
    border: 1px solid #FFF;
}

.hidden{
    display: none !important;
}

/* LOADING */
#loading{
    background-color: transparent;
    bottom: 0;
    display: flex;
    height: 100vh;
    left: 0;
    overflow: hidden;
    position: fixed;
    text-align: center;
    transition: background 0.25s ease-in-out;
    top: -100vw;
    right: 0;
    width: 100vw;
    z-index: 999;
}
#loading.active{
    background-color: rgba(0, 0, 0, 0.65);
    top: 0;
}
#loading span{
    background: transparent url(../icons/loading.svg) no-repeat;
    background-size: 100% auto;
    flex: 0 0 auto;
    width: 4.15rem;
    height: 4.15rem;
    margin: auto;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
#loading.active span{
    opacity: 1;
}

/* VIDEO */
#video{
    display: none;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: relative;
    background: #000;
    color: #fff;
    padding: 0;
}
#video video{
    width: 100vw;
    height: 100vh;
    background: #000;
    color: #fff;
}
#video video:-webkit-full-screen {
    width: 100% !important;
    height: 100% !important;
}
#video.active{
    display: block;
}
#video .video-control-bar{
    align-items: center;
    background-color: #F37521;
    bottom: 0;
    display: flex;
    left: 0;
    opacity: 1;
    padding: 15px;
    position: absolute;
    right: 0;
    transition: all 0.4s ease-in-out;
    width: 100%;
    z-index: 2;
}
#video.video-playing .video-control-bar{
    opacity: 0;
}
#video.show-controls .video-control-bar{
    opacity: 1 !important;
}

#video .video-progress {
    position: relative;
    height: 8.4px;
    flex: 1;
}
#video .video-progress progress,
#video .video-progress input[type=range] {
    position: absolute;
    top: 0;
}
#video .video-progress .tooltip {
    background-color: #F37521;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: #fff;
    content: attr(data-title);
    display: none;
    font-size: 0.8rem;
    margin-left: -2.8rem;
    text-align: center;
    width: 4.16rem;
    padding: 5px 2px;
    position: absolute;
    top: -55px;
}
#video .video-progress:hover .tooltip {
    display: block;
}
#video .video-time{
    font-size: 0.8rem;
    margin-left: 20px;
}

#video .video-title-bar {
    background: rgba(0, 0, 0, 0.65);
    color: #FFF;
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 15px 25px;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 1;
    transition: all 0.4s ease-in-out;
    z-index: 2;
}
#video.video-playing .video-title-bar{
    opacity: 0;
}

#video .video-extra-bar{
    display: flex;
    height: 3.34rem;
    left: 50%;
    margin-left: -10rem;
    margin-top: -4.17rem;
    position: absolute;
    opacity: 1;
    top: 50%;
    transition: all 0.4s ease-in-out;
    width: 20rem;
    z-index: 2;
}
#video.video-playing .video-extra-bar{
    display: none;
    opacity: 0;
}
#video .video-extra-bar button{
    background: #F37521;
    border: 2px solid #FFF;
    border-bottom-width: 5px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 1px 1px #e2803f,
                0px 2px 3px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    color: #FFF;
    flex: 1;
    font-size: 2rem;
    height: 3.34rem;
    margin: 0 5px;
    padding: 5px;
    text-align: center;
}
#video .video-extra-bar button span{
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 1.875rem;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-indent: -9999em;
}
#video .video-extra-bar button.hover,
#video .video-extra-bar button:hover,
#video .video-extra-bar button:focus,
#video .video-extra-bar button:active{
    border-color: #ffc095;
}
#video .video-extra-bar button.video-extra-play span{
    background-image: url(../icons/play.svg);
}
#video .video-extra-bar button.video-extra-watched span{
    background-image: url(../icons/eye.svg);
}
#video .video-extra-bar button.video-extra-episodes span{
    background-image: url(../icons/playlist.svg);
}
#video .video-extra-bar button.video-extra-close span{
    background-image: url(../icons/exit.svg);
}
#video .video-extra-bar button.video-extra-fullscreen span{
    background-image: url(../icons/fullscreen.svg);
}

body.video-active #menu,
body.video-active #content{
    display: none;
}

/* LOGIN */
#login{
    background-color: #F37521;
    display: none;
    width: 100vw;
    height: 100vh;
    transition: background 0.25s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100vw;
    max-height: 100vh;
    overflow: auto;
    z-index: 99;
}
#login.active{
    display: flex;
}

#login form{
    background: url(../img/512px.png) no-repeat center center;
    background-size: 8.33rem auto;
    background-position: top center;
    padding-top: 10rem;
    flex: 1;
    margin: auto;
    text-align: center;
    max-width: 500px;
}
#login input,
#login .select,
#login button{
    margin-bottom: 1.6rem;
}
#login input.hover,
#login input:hover,
#login input:focus,
#login input:active,
#login .select.hover,
#login .select:hover,
#login .select:focus,
#login .select:active{
    border-color: #000000;
}
#login .select:focus-within{
    border-color: #000000;
}
#login button.hover,
#login button:hover,
#login button:focus,
#login button:active{
    background: #5d2500;
}
#login #message{
    margin-top: 0.83rem;
}

/* MENU */
#menu{
    bottom: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 1),
        0 1px 1px rgba(255, 255, 255, 0.3),
        0 1px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    left: 0;
    position: fixed;
    top: 0;
    width: 9.16rem;
    z-index: 2;
}
#menu .links{
    flex: 1 1 auto;
}
#menu .menu-link{
    background: transparent;
    border-radius: 0 4px 4px 0;
    display: inline-block;
    cursor: pointer;
    margin-top: 2.2rem;
    font-size: 1.2rem;
    padding: 10px 2.2rem 10px 0.83rem;
    transition: all 0.2s ease-in-out;
}
#menu .menu-link.hover,
#menu .menu-link:hover{
    color: #F37521;
    background: #FFF;
}
#menu .menu-link.active{
    background: #F37521;
    color: #FFF;
}

#menu .account{
    flex: 0 1 auto;
    margin-top: 0.83rem;
    margin-bottom: 0.83rem;
}
#menu .account-name{
    padding: 10px 0.83rem;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    word-wrap: normal;
    word-break: keep-all;
    overflow: hidden;
}
#menu .account-logout{
    display: block;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 10px 0.83rem;
    transition: all 0.2s ease-in-out;
}
#menu .account-logout.hover,
#menu .account-logout:hover{
    color: #e89f6d;
}

/* CONTENT */
#content{
    padding: 0.83rem 1.16rem;
    padding-left: 10.833rem;
    padding-bottom: 2.5rem;
}
#content .inside{
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
}
#content h1{
    flex: 1 1 100%;
    margin: 1.16rem 0 0.83rem;
}

#content .list-filters{
    flex: 1 1 100%;
    margin: 0 0 0.83rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
#content .list-filters input,
#content .list-filters .select,
#content .list-filters .select select{
    background: transparent;
    border-color: #FFF;
    color: #FFF;
}
#content .list-filters input.hover,
#content .list-filters input:hover,
#content .list-filters input:focus,
#content .list-filters input:active,
#content .list-filters .select.hover,
#content .list-filters .select:hover,
#content .list-filters .select:focus,
#content .list-filters .select:active{
    border-color: #F37521;
}
#content .list-filters .select:focus-within{
    border-color: #F37521;
}
#content .list-filters input{
    flex: 0 1 20rem;
}
#content .list-filters .select{
    flex: 0 1 12.5rem;
    margin-right: 1.6rem;
}
#content .list-filters .select:after{
    filter: invert(100%);
}
#content .list-filters .select option{
    color: #000;
}
#content .list-filters button{
    border: 2px solid #FFF;
    flex: 0 0 auto;
    height: 2.6rem;
    width: auto;
}

#content .list-items{
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.83rem;
}
#content .list-item{
    background: #000;
    border: 1px solid #FFF;
    border-top-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 10px;
    border-radius: 5px 5px 2px 2px;
    cursor: pointer;
    flex: 0 1 12.5rem;
    margin: 0.83rem;
    position: relative;
    transition: all 0.2s ease-in-out;
}
#content .list-item.hover,
#content .list-item:hover{
    border-color: #F37521;
}
#content .list-item-image {
    overflow: hidden;
    position: relative;
    padding-top: 56.25%;
    width: 100%;
}
#content .list-item-image img{
    border-radius: 5px 5px 2px 2px;
    bottom: 0;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
#content .list-item-progress{
    background-color: #F37521;
    bottom: 0px;
    height: 10px;
    left: 0;
    position: absolute;
    width: 0%;
}
#content .list-item-premium{
    background: #FFF url(../icons/premium.svg) no-repeat center;
    background-size: 1.6rem auto;
    border-radius: 0.83rem;
    height: 2.5rem;
    padding: 0.42rem;
    position: absolute;
    right: 0.625rem;
    top: 0.625rem;
    width: 2.5rem;
}
#content .list-item-info{
    background: rgba(0, 0, 0, 0.75);
    border-radius: 0 0 2px 2px;
    padding: 0.83rem;
    word-break: break;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}
#content .list-item.hover .list-item-info,
#content .list-item:hover .list-item-info{
    background: #000;
}
#content .list-item-info h2,
#content .list-item-info h3{
    margin: 0;
}
#content .list-item-info h2 + h3{
    font-weight: normal;
    margin-top: 0.83rem;
}

#content .serie-item .list-item-image{
    padding: 0;
}
#content .serie-item .list-item-image img{
    border-radius: 2px 2px 0 0;
    position: static;
}
#content .serie-item .list-item-info{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

@media screen and (max-width: 1050px){
    html, body{
        font-size: 20px;
    }
}

@media screen and (max-width: 860px){

    html, body{
        font-size: 16px;
    }

    #menu{
        flex-flow: row;
        position: static;
        width: 100%;
        padding: 0 0.83rem;
    }
    #menu .menu-link{
        border-radius: 4px;
        margin-top: 1rem;
        padding: 10px 0.83rem;
    }
    #menu .account-name{
        display: none;
    }
    #content{
        padding-left: 1.16rem;
    }

}

@media screen and (max-width: 640px){
    html, body{
        font-size: 14px;
    }
}