<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Crunchyroll WebOS TV</title>

    <link href="/assets/css/styles.css" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/img/130px.png" type="image/png">

</head>
<body data-proxy="">

    <div id="main" data-keyboard-navigation>

        <div id="loading" data-loading>
            <span>&nbsp;</span>
        </div>

        <div id="menu" data-menu></div>
        <div id="content" data-view></div>

    </div>

    <script type="text/vanilla-template" id="template-menu">

        <div class="links">
            <a href="/series"
                class="link"
                tabindex="0">Series</a>
            <a href="/queue"
                class="link"
                data-content="queue"
                tabindex="0">Queue</a>
            <a href="/history"
                class="link"
                tabindex="0">History</a>
        </div>

        {{ if store('sessionId') }}
        <div class="account">
            <div class="account-name">{{ store('userName') }}</div>
            <a href="/logout"
                class="account-logout"
                tabindex="0">Logout</a>
        </div>
        {{ end }}

    </script>

    <script type="text/vanilla-template" id="template-video">
        <div id="video">

            <div class="video-title-bar"></div>
            <div class="video-extra-bar">
                <button tabindex="0"
                    class="video-extra-play">
                    <span>Play</span>
                </button>
                <button tabindex="0"
                    class="video-extra-fullscreen">
                    <span>FullScreen</span>
                </button>
                <button tabindex="0"
                    class="video-extra-reload">
                    <span>Reload</span>
                </button>
                <button tabindex="0"
                    class="video-extra-watched">
                    <span>Watched</span>
                </button>
                <button tabindex="0"
                    class="video-extra-episodes">
                    <span>Episodes</span>
                </button>
                <button tabindex="0"
                    class="video-extra-close">
                    <span>Close</span>
                </button>
            </div>
            <div class="video-control-bar">

                <div class="video-progress">
                    <progress value="0" min="0" max="0"></progress>
                    <input type="range" value="0" min="0" max="0" step="1">
                    <div class="tooltip">00:00</div>
                </div>

                <div class="video-time">
                    <time class="elapsed">00:00</time>
                    <span> / </span>
                    <time class="duration">00:00</time>
                </div>

            </div>

            <video class="video-element"
                controls preload="metadata" allow="autoplay; fullscreen"></video>

        </div>
    </script>

    <script type="text/vanilla-template" id="template-login">
        <div id="login">
            <form action="#" method="POST">

                <label for="email">E-mail:</label>
                <input
                    id="email"
                    type="email"
                    value="{{ store('email', '') }}"
                    tabindex="0"
                    required>

                <label for="password">Password:</label>
                <input
                    id="password"
                    type="password"
                    value="{{ store('password', '') }}"
                    tabindex="0"
                    required>

                <label for="locale">Locale:</label>
                <div class="select" tabindex="0">
                    <select id="locale">
                        <option value="enUS" {{ selected( store('locale') == 'enUS' ) }}>English (US)</option>
                        <option value="enGB" {{ selected( store('locale') == 'enGB' ) }}>English (UK)</option>
                        <option value="esLA" {{ selected( store('locale') == 'esLA' ) }}>Español</option>
                        <option value="esES" {{ selected( store('locale') == 'esES' ) }}>Español (España)</option>
                        <option value="ptBR" {{ selected( store('locale') == 'ptBR' ) }}>Português (Brasil)</option>
                        <option value="ptPT" {{ selected( store('locale') == 'ptPT' ) }}>Português (Portugal)</option>
                        <option value="frFR" {{ selected( store('locale') == 'frFR' ) }}>Français (France)</option>
                        <option value="deDE" {{ selected( store('locale') == 'deDE' ) }}>Deutsch</option>
                        <option value="itIT" {{ selected( store('locale') == 'itIT' ) }}>Italiano</option>
                        <option value="ruRU" {{ selected( store('locale') == 'ruRU' ) }}>Русский</option>
                        <option value="arME" {{ selected( store('locale') == 'arME' ) }}>العربية</option>
                        <option value="jaJP" {{ selected( store('locale') == 'jaJP' ) }}>Japonês</option>
                    </select>
                </div>

                <button type="submit" tabindex="0">Login</button>

                {{ if message }}
                    <div id="message">{{ message }}</div>
                {{ end }}

            </form>
        </div>
    </script>

    <script type="text/vanilla-template" id="template-queue">
        <h1>Queue</h1>

        {{ if !loaded }}
            <p>Loading...</p>
        {{ end }}

        <div class="list-items">
            {{ each item in items }}
            <div class="list-item queue-item"
                tabindex="0"
                data-episode
                data-episode-id="{{ item.id }}"
                data-episode-number="{{ item.number }}"
                data-episode-name="{{ item.name }}"
                data-episode-duration="{{ item.duration }}"
                data-episode-playhead="{{ item.playhead }}"
                data-episode-premium="{{ item.premium }}">
                <a href="/serie/{{ item.serie_id }}/episode/{{ item.id }}/video" class="list-item-inside">
                    <div class="list-item-image">
                        <img src="{{ item.image }}" />
                        <div class="list-item-progress hidden">&nbsp;</div>
                        <div class="list-item-premium hidden">&nbsp;</div>
                    </div>
                    <div class="list-item-info">
                        <h2>{{ item.serie_name }}</h2>
                        <h3>{{ item.number }} - {{ item.name }}</h3>
                    </div>
                </a>
            </div>
            {{ end }}
            <div class="fill"></div>
            <div class="fill"></div>
            <div class="fill"></div>
            <div class="fill"></div>
        </div>
    </script>

    <script type="text/vanilla-template" id="template-history">
        <h1>History</h1>

        {{ if !loaded }}
            <p>Loading...</p>
        {{ end }}

        <div class="list-items">
            {{ each item in items }}
            <div class="list-item history-item"
                tabindex="0"
                data-episode
                data-episode-id="{{ item.id }}"
                data-episode-number="{{ item.number }}"
                data-episode-name="{{ item.name }}"
                data-episode-duration="{{ item.duration }}"
                data-episode-playhead="{{ item.playhead }}"
                data-episode-premium="{{ item.premium }}">
                <a href="/serie/{{ item.serie_id }}/episode/{{ item.id }}/video" class="list-item-inside">
                    <div class="list-item-image">
                        <img src="{{ item.image }}" />
                        <div class="list-item-progress hidden">&nbsp;</div>
                        <div class="list-item-premium hidden">&nbsp;</div>
                    </div>
                    <div class="list-item-info">
                        <h2>{{ item.serie_name }}</h2>
                        <h3>{{ item.number }} - {{ item.name }}</h3>
                    </div>
                </a>
            </div>
            {{ end }}
            <div class="fill"></div>
            <div class="fill"></div>
            <div class="fill"></div>
            <div class="fill"></div>
        </div>
    </script>

    <script type="text/vanilla-template" id="template-series">
        <h1>Series</h1>

        <div class="list-filters">
            <div class="select" tabindex="0">
                <select id="filter">
                    {{ options }}
                </select>
            </div>
            <input type="text"
                id="search"
                value="{{ search }}"
                placeholder="Search"
                tabindex="0">
        </div>

        {{ if !loaded }}
            <p>Loading...</p>
        {{ end }}

        <div class="list-items">
            {{ each item in items }}
            <div class="list-item series-item"
                tabindex="0">
                <a href="/serie/{{ item.id }}" class="list-item-inside">
                    <div class="list-item-image">
                        <img src="{{ item.image }}" width="640" height="960" />
                    </div>
                    <div class="list-item-info">
                        <h2>{{ item.name }}</h2>
                        <!-- <p>{{ item.description }}</p> -->
                    </div>
                </a>
            </div>
            {{ end }}
            <div class="fill"></div>
            <div class="fill"></div>
            <div class="fill"></div>
            <div class="fill"></div>
        </div>

        {{ if previousPage || nextPage }}
            <div class="list-pagination">
                {{ if previousPage }}
                    <a href="{{ previousPage }}" title="Previous page"><span>Previous Page</span></a>
                {{ end }}
                {{ if nextPage }}
                    <a href="{{ nextPage }}" title="Next page"><span>Next Page</span></a>
                {{ end }}
            </div>
        {{ end }}

    </script>

    <script type="text/vanilla-template" id="template-serie">
        <h1>
            <small>Serie /</small><br/>
            {{ serieName }} - Episodes
        </h1>
        <div class="list-filters">
            <div class="select" tabindex="0">
                <select id="sort">
                    <option value="asc" {{ selected(sort == 'asc') }}>Ascending</option>
                    <option value="desc" {{ selected(sort == 'desc') }}>Descending</option>
                </select>
            </div>

            <button
                class="add-to-queue {{ inQueue ? 'hidden' : '' }}"
                tabindex="0">Add To Queue</button>
            <button
                class="remove-from-queue {{ inQueue ? '' : 'hidden' }}"
                tabindex="0">Remove From Queue</button>
        </div>

        {{ if !loaded }}
            <p>Loading...</p>
        {{ end }}

        <div class="list-items">
            {{ each item in items }}
            <div class="list-item serie-episode-item"
                tabindex="0"
                data-episode
                data-episode-id="{{ item.id }}"
                data-episode-number="{{ item.number }}"
                data-episode-name="{{ item.name }}"
                data-episode-duration="{{ item.duration }}"
                data-episode-playhead="{{ item.playhead }}"
                data-episode-premium="{{ item.premium }}">
                <a href="/serie/{{ item.serie_id }}/episode/{{ item.id }}/video" class="list-item-inside">
                    <div class="list-item-image">
                        <img src="{{ item.image }}" />
                        <div class="list-item-progress hidden">&nbsp;</div>
                        <div class="list-item-premium hidden">&nbsp;</div>
                    </div>
                    <div class="list-item-info">
                        <h3>{{ item.number }} - {{ item.name }}</h3>
                    </div>
                </a>
            </div>
            {{ end }}
            <div class="fill"></div>
            <div class="fill"></div>
            <div class="fill"></div>
            <div class="fill"></div>
        </div>
    </script>

    <script defer src="/assets/js/lib/store.js"></script>
    <script defer src="/assets/js/lib/api.js"></script>
    <script defer src="/assets/js/lib/hls.min.js"></script>
    <script defer src="/assets/js/lib/vanilla.ui.js"></script>

    <script defer src="/assets/js/components/loading.js"></script>
    <script defer src="/assets/js/components/login.js"></script>
    <script defer src="/assets/js/components/logout.js"></script>
    <script defer src="/assets/js/components/menu.js"></script>
    <script defer src="/assets/js/components/video.js"></script>
    <script defer src="/assets/js/components/history.js"></script>
    <script defer src="/assets/js/components/queue.js"></script>
    <script defer src="/assets/js/components/series.js"></script>
    <script defer src="/assets/js/components/serie.js"></script>
    <script defer src="/assets/js/components/episode.js"></script>
    <script defer src="/assets/js/components/keyboard.js"></script>
    <script defer src="/assets/js/components/view.js"></script>

    <script defer src="/assets/js/bootstrap.js"></script>

</body>