/* GENERAL */
html, body {
    background-color: #1f1a17;
    border: 0;
    color: #FFF;
    font-size: 24px;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
}
html, body, input, select, button {
    font-family: Arial, Helvetica, sans-serif;
}
*, *::after, *::before {
    box-sizing: border-box;
    outline: none;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.2rem;
}
h3 {
    font-size: 1rem;
}
a {
    color: #FFF;
    text-decoration: none;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
}
input {
    background: #FFF;
    border: 2px solid transparent;
    border-radius: 5px;
    color: #000;
    display: block;
    font-size: 1rem;
    height: 2.6rem;
    margin-bottom: 0.85rem;
    padding: 5px 1rem;
    transition: border 0.2s ease-in-out;
    width: 100%;

    &.hover,
    &:focus,
    &:active {
        border-color: #F37521;
        outline: none;
    }

}
.mouse input:hover {
    border-color: #F37521;
    outline: none;
}

button {
    background: #000;
    border: 0;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    height: 3.12rem;
    text-transform: uppercase;
    transition: background 0.2s ease-in-out;
    padding: 0 0.83rem;
    width: 100%;

    &.hover,
    &:focus,
    &:active {
        background: #F37521;
    }

}
.mouse button:hover {
    background: #F37521;
}

.select {
    background: #FFF;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    height: 2.6rem;
    margin-bottom: 0.85rem;
    overflow: hidden;
    padding: 0;
    position: relative;
    transition: border 0.2s ease-in-out;
    width: 100%;

    &:after {
        background: transparent url(../icons/arrow-down.svg) no-repeat;
        background-size: 100% auto;
        content: '';
        display: block;
        height: 0.83rem;
        margin-top: -0.41rem;
        position: absolute;
        right: 1rem;
        top: 50%;
        width: 0.83rem;
        z-index: 12;
    }

    select {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
        border: 0 !important;
        border-radius: 0;
        cursor: pointer;
        color: #000;
        font-size: 1rem;
        height: 100%;
        margin: 0 auto;
        outline: none;
        padding: 5px 2.70rem 5px 1rem;
        position: relative;
        text-indent: 0px;
        text-overflow: "";
        vertical-align: middle;
        width: 100%;
        z-index: 5;
    }
    select:focus {
        outline: none;
    }
    select::-ms-expand {
        display: none;
    }

    &:hover,
    &.hover,
    &:focus,
    &:active {
        border-color: #F37521;
        outline: none;
    }
    &:focus-within {
        border-color: #F37521;
        outline: none;
    }

}
.mouse .select:hover {
    border-color: #F37521;
    outline: none;
}

input[type=range] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    cursor: pointer;
    height: 8.4px;
    margin: 0;
    padding: 0;
    width: 100%;

    &::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        appearance: none;
        border-radius: 1.3px;
        cursor: pointer;
        width: 100%;
    }
    &::-moz-range-track {
        border: 1px solid transparent;
        background: transparent;
        border-radius: 1.3px;
        cursor: pointer;
        height: 8.4px;
        width: 100%;
    }

    &:focus::-webkit-slider-runnable-track {
        background: transparent;
    }
    &:focus::-moz-range-track {
        outline: none;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        background: #FFF;
        border-radius: 16px;
        cursor: pointer;
        height: 16px;
        margin-left: -1px;
        width: 16px;
    }
    &::-moz-range-thumb {
        background: #FFF;
        border: 1px solid #FFF;
        border-radius: 100%;
        cursor: pointer;
        height: 14px;
        margin-top: 5px;
        width: 14px;
    }
}

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    height: 8.4px;
    pointer-events: none;
    width: 100%;

    &::-webkit-progress-bar {
        background: #c25d1b;
        border-radius: 5px;
    }
    &::-webkit-progress-value {
        background: #FFF;
        border-radius: 5px 0 0 5px;
    }
    &::-moz-progress-bar {
        background: #FFF;
        border: 1px solid #FFF;
    }
}

.hidden {
    display: none !important;
}

@media screen and (max-width: 1050px) {
    html, body {
        font-size: 20px;
    }
}

@media screen and (max-width: 860px) {
    html, body {
        font-size: 16px;
    }
}

@media screen and (max-width: 640px) {
    html, body {
        font-size: 14px;
    }
}